doctype html
html(lang="ru")
    head 
        meta(charset="utf-8")
        link(rel="stylesheet", href="assets/css/styles.css")
    body
        section.headlogo
            header.header 
                a(href="#title").header__link О вечере
                a(href="#schedule").header__link Программа
                a(href="#donation").header__link Благотворительная часть
                a(href="#evening").header__link Вечерняя часть
                a(href="#dinner").header__link Ужин
                a(href="#tickets").header__link Билеты
            div.headlogo__name
                h1.headtitle Русская красавица
                p.headtext Благотворительный бал
            div.headlogo__participate
                a.button.button--party Участвовать 
            div.headlogo__info.info
                div.info__item 2 июля
                div.info__item.info__item--bordered Hyatt regency
                div.info__item 16:30
            div.headlogo__links.links
                div.links__item
                    img(src="assets/img/louis.png")
                div.links__item
                    img(src="assets/img/hyatt.png")
                div.links__item
                    img(src="assets/img/volhonka.png")
        section#title.about
            div.about__title 
                h2 О вечере
            div.about__wrapper
                div.about__text.mrg «Луи де флер» - клиника лазерной косметологии 
                    | премиум-класса в Екатеринбурге. В 2016 году мы
                    | отмечаем пятилетний юбилей бренда и хотим
                    | поделиться радостью не только с нашими
                    | клиентам, поэтому приглашаем вас на закрытый
                    | благотоворительный бал. Мы являемся
                    | попечителями театра «Волххонка», который
                    | расположен в конструктивистком здании.

                div.about__text Конструктивизм - визитная карточка нашего 
                    | города, и привести в порядок здание в самом его
                    | центре и помочь развитию культуры - это наша
                    | благая цель. Если вы желаете принять участие или
                    | просто порадоваться вместе с нами - ждем вас 2
                    | июля в «Хаятт Ридженси Екатеринбург»! 
                div.clearfix
                div.about__gallery.gallery
                    div.gallery__item 
                        img(src="assets/img/item-1.jpg")
                    div.gallery__item 
                        img(src="assets/img/item-2.jpg")
                    div.gallery__item 
                        img(src="assets/img/item-3.jpg")
                    div.gallery__item 
                        img(src="assets/img/item-4.jpg")
                    div.gallery__item 
                        img(src="assets/img/item-5.jpg")
                    div.gallery__item
                        img(src="assets/img/item-6.jpg")
                div.about__text.about__text--bottom 
                    ul
                       li Проект реконструкции разработан авторским коллективом ПЦ «Архэкополис» УралГАХА. 
                           li  Инновационный проект преображения «Волхонки» получил Бронзовый диплом в номинации
                            li Реконструкция и реставрация на фестивале архитектуры «БЕЛАЯ БАШНЯ - 2014» 
                            li Проект предполагает, что здание «Волхонки» станет достопримечательностью и местом притяжения
                            li туристов и горожан. Снаружи будет транслироваться видео прямо на фасад, внутри же здание 
                            li изменится до неузнаваемости - на несколько этажей вниз. 
            
                
        section.schedule#schedule
            div.schedule__title
                h2 Программа мероприятия
            div.schedule__wrapper
                div.schedule__times.times
                    div.times__theatre
                        ul.theatre
                            li • Театральные миниатюры    
                            li • Благотворительный аукцион
                            li • Розыгрыш призов
                    div.times__jazz
                         ul.jazz
                            li • Выступление джазового квартета Игоря Паращука 
                            li • Показ и конкурс дизайнеров одежды 
                            li • Стас Пьеха и Илона Броневицкая
                            li • Впервые за много лет в Екатеринбурге - 
                            li  выступление Эдиты Пьехи
                div.schedule__hosts 
                    h4 Ведущие 
                    div    
                        li Илона Броневицкая 
                        li и резидент stand up comedy  
                        li Антон Борисов (С-Петербруг)
                div.clearfix
        section.donation#donation
            div.donation__title
                h2 Благотворительная часть
            div.donation__wrapper
                div.donation__leftpart
                    img(src="assets/img/left.jpg")
                    ul.space
                        li Перед гостями выступит театральный коллектив
                        li с постановкой.
                div.donation__rightpart
                    img(src="assets/img/right.jpg")
                    ul.space
                        li Аукцион картин молодых художников. Все
                        li средства пойдут на реконструкцию театра
                        li «Волххонка»
        section.evening#evening
             div.evening__title
                h2 Вечерняя часть
             div.evening__wrapper
                div.evening__box
                    div.collections Показ коллекций современных дизайнеров одежды
                    div.evening__design.design
                        div.design__item
                            
                            h4.evening__subtitle Анна Мамаева
                        div.design__item
                              
                            
                            h4.evening__subtitle Никита Баранов
                        div.design__item
                             
                                
                            h4.evening__subtitle Маша Варламова
                h4.evening__attractions Выступления звезд
                div.evening__stars.stars
                    div.stars__item
                        div.stars__img
                            img(src="assets/img/edita.jpg")
                        div.stars__name Эдита Пьеха
                        div.stars__icon
                            img(src="assets/img/star.png")
                    div.stars__item
                        div.stars__img
                            img(src="assets/img/stas.jpg")
                        div.stars__name Стас пьеха
                        div.stars__icon
                            img(src="assets/img/star.png")
                    div.stars__item
                        div.stars__img
                            img(src="assets/img/ilona.jpg")
                        div.stars__name Илона броневицкая
                        div.stars__icon
                            img(src="assets/img/star.png")
        section.dinner#dinner
            h2.dinner__title Ужин 
            div.dinner__wrapper
                div.dinner__menu
                    h4.menu__title В меню
                    ul  
                        li • Салат из морепродуктов 
                        li • Крем-суп из шампиньонов 
                        li • Лобстер на пару с грецким орехом
                        li • Десерт, банан, мороженое
                        li • Безлимитное шампанское
        section.tickets#tickets
            h2.tickets__title Билеты
            div.tickets__comfort Для вашего удобства билеты представлены несколько категорий:
            div.tickets__wrapper
                div.tickets__item
                    div.tickets__podlog
                        img(src="assets/img/podlog-1.jpg")
                    h4.tickets__subtitle Жемчужные билеты
                    div.tickets__price 5 000.-
                    div.tickets__btn
                        a.button.button--ticket Хочу билет
                    div.tickets__programm 
                        h4 Вечерняя программа 
                        p Концерт, показ дизайнеров, места в фуршетной зоне, фуршет включен в стоимость. 
                    div.tickets__bonus Бонус от генерального спонсора:депозит в «Луи де Флер» на 4 000р.
                    div.tickets__guests Сбор гостей в 18:30
                div.tickets__item
                    div.tickets__podlog
                        img(src="assets/img/podlog-2.jpg")
                    h4.tickets__subtitle билеты голд
                    div.tickets__price 10 000.-
                    div.tickets__btn
                        a.button.button--ticket Хочу билет
                    div.tickets__programm
                        h4 Полная программа 
                        p Миниатюры от театра, благотворительный аукцион и 
                        |розыгрыш главных призов, кобрендинговые банковские карты с постоянной скидкой в в «Луи де Флер» и местами за столиками, включая ужин.
                    div.tickets__bonus Бонус от генерального            спонсора:депозит в «Луи де Флер» на 11 000р.
                    div.tickets__guests Сбор гостей в 16:30
                div.tickets__item
                    div.tickets__podlog
                        img(src="assets/img/podlog-3.jpg")
                    h4.tickets__subtitle билеты платинум
                    div.tickets__price 18 000.-
                    div.tickets__btn
                        a.button.button--ticket Хочу билет
                    div.tickets__programm 
                        h4 Полная программа 
                        p VIP-места и ужин включены в 
                        |стоимость. ВИП-статус с 
                        | возможностью получения льготных
                        |условий для вступления в программу
                        |обслуживания VISA Infinite,
                        |получение автографов и фото со
                        |звездами, возможность пополнить 
                        |депозит в клинике на любую сумму
                        |+ 15%. Возможность взять с собой
                        |спутника или спутницу.
                    div.tickets__bonus Бонус от генерального спонсора:депозит в «Луи де Флер» на 20 000р.
                    div.tickets__guests Сбор гостей в 16:30
                div.tickets__item.tickets__item--wide
                    div.tickets__podlog
                        img(src="assets/img/podlog-4.jpg")
                    div.tickets__helper
                        h4.tickets__subtitle билеты инфинити
                        div.tickets__price 440 000.-
                        div.tickets__btn
                            a.button.button--ticket Хочу билет
                         div.tickets__guests Сбор гостей в 16:30
                    div.tickets__programm.tickets__programm--wide
                        h4 Полная программа 
                        p Премиум-места, личный дежурный ангел на меропрятии, доступ к вип-банкингу 
                        |банка-партнера и карта VISA Infinite, скидки на услуги партнеров, приятные сюрпризы и подарки.Из стоимости билета 300 000 рублей уходят на депозит в банк (10-11,5% годовых), 50 000 дизайнеру, 65 000 на депозит в клинике. Взносы выше могут быть зачислены на депозит в банке или на счет в «Луи де Флер» +17%.
        footer.footer
            div.footer__wrapper
                div.footer__logo Русская красавица
                div.footer__info Информация по мероприятию, заказ и доставка билетов:
                div.footer__phone +7 (343) 247-84-57